<h1>Doctor <%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />

<h2>Heart</h2>
<ul>
  <% @hearts.each do |heart| %>
    <li>
      <%= heart.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, heart), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Butt</h2>
<ul>
  <% @butts.each do |butt| %>
    <li>
      <%= butt.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, butt), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Cold</h2>
<ul>
  <% @colds.each do |cold| %>
    <li>
      <%= cold.patient.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, cold), method: :delete %>
   </li>
 <% end %>
</ul>
